body
{
	background-color: DarkSlateGrey; /*changing the background of the webpage to DarkSlateGrey*/
	text-align: center; /*aligning texts and other objects to the center of the page*/
}

#stage
{
	margin-left: auto;
	margin-right: auto; 
	width: 1000px;/*setting the wideth of the canvas*/
	height: 800px;/*setting the height of the canvas*/
	background-color: black; /*setting the background of the canvas to black*/
	
}

#left 
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 460px;
	height: 800px;
	/* changing the position of the images to so that it fits on the left side of the page*/
}
#right
{
	position: fixed;
	right: 0px;
	top: 0px;
	width: 460px;
	height: 800px;
	/* changing the position of the image so that it fits on the right side of the page*/
}