body
{
	background-color: DarkSlateGrey; /*changing the background of the webpage to DarkSlateGrey*/
	text-align: center; /*aligning texts and other objects to the center of the page*/
}

#stage
{
	margin-left: auto;
	margin-right: auto; 
	width: 800px;/*setting the width of the canvas*/
	height: 600px;/*setting the height of the canvas*/
	background-color: black; /*setting the background of the canvas to black*/
	
}

